.main-contacts {
  padding-top: 60px;
  padding-bottom: 60px;

  &__heading {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__paragraph {
    color: var(--paragraph-text-color);
    font-size: 14px;
    line-height: 1.71;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__side-map {
    display: none;
  }

  &__side-section {
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .main-contacts {
    &__side-wrapper {
      display: flex;
    }

    &__side-map {
      display: block;
    }
  }
}
